<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
            Daily Chess Puzzle
		</title>
		<link rel="stylesheet" href="http://chesspuzzles.herokuapp.com/index.css" type="text/css">
		
	</head>
	<body>
        <h2>Daily Chess Puzzle</h2>
        <p class="i">Powered by lichess.org</p>
        <p>{{board.playing}} to move</p>
		<table class="chessboard" cellspacing="0" cellpadding="0">
			{{#each board.board}}
			<tr>
				{{#each this}}
					<td class="cell {{this.color}}"><img src="http://chesspuzzles.herokuapp.com/pieces/{{this.piece}}.png"/></td>
				  {{/each}}
			</tr>
			{{/each}}
		</table>
        <p>
            <span class="bold">Solution:</span>&nbsp;
            <span class="upsidedown">{{solution}}</span>
        </p>
        <div class="ruler">

        </div>
	</body>
</html>