body {
    margin:0px;
    font-family:'Verdana';
}

h1 {
    margin-bottom:0;
    text-align: center;
    margin-top: 10px;
    font-family: 'Octin College';
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.i {
    margin-top: 0;
    font-style:italic;
    text-align: center;
    font-size: 16px;

}
.bold {
    font-weight: bold;
}
p {
    font-size:20px;
}
table {
    font-size: 1px;
}
td {
    margin: 0;
	width: 48px;
    max-height: 48px;
    padding: 0;
}

tr {
    margin: 0px;
    padding: 0px;
}

td.b {
    background-image: url("dither.png");

}

td.w {
    background-color: #FFF;
}
img {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
}
div.ruler {
    background-color: black;
    color:white;
    text-align: center;
    width: 100%;
    min-height: 20px;
    margin: 10px 0;
}

svg {
	position:absolute;
	top: 139px;
}

.solution {
    font-family: 'Arial';
}

.upsidedown
{
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
    -moz-transform: rotate(-180deg);  /* FF3.5+ */
    -o-transform: rotate(-180deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
    position: absolute;
}